project_name     = "kwail"
environment      = "hackathon"
aws_region       = "ap-northeast-2"
aws_profile      = "stdev-09"
hosted_zone_name = null
web_domain       = "diary-app.summit1123.co.kr"
api_domain       = "diary-api.summit1123.co.kr"
web_acm_certificate_arn = null

create_web_bucket     = false
create_web_cdn        = false
create_web_dns_record = false

create_media_bucket            = true
media_bucket_name              = "kwail-hackathon-media"
media_bucket_public_read_enabled = true
media_bucket_force_destroy     = false
media_bucket_expiration_days   = 30
media_bucket_cors_allowed_origins = [
  "https://diary-app.summit1123.co.kr",
]

create_api_ecr_repository = false
create_api_service        = false
create_api_custom_domain  = false
api_image_tag             = "latest"

create_ec2_runtime      = true
ec2_instance_type       = "c7i.2xlarge"
ec2_root_volume_size    = 150
ec2_create_eip          = true
ec2_repo_url            = "https://github.com/summit1123/stdev.git"
ec2_repo_branch         = "main"
ec2_ssm_parameter_prefix = "/kwail/hackathon/runtime"

app_tags = {
  Team  = "hackathon"
  Owner = "gimdonghyeon"
}
